<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>socaldesignautomation.SocalPaymentLocations23</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PaymentLocationsDesignVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnterAnAddressDesignVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ListedAddresDesignVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LocationFilterDesignVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PaymentLocationLegendDesignVerification</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>bf</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenShot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
