<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SoCalGasDesignVerificationAutomationSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:32</td>   <td>9179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:36</td>   <td>13634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:48</td>   <td>25552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>30406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>25943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>30892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:32</td>   <td>9178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:36</td>   <td>13634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:48</td>   <td>25552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>25943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>30405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>30892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:38</td>   <td>15360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:47</td>   <td>24408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>25940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:52</td>   <td>29014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>30890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>-17325</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>-17325</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>-17325</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>16793</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>26686</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>31715</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
</table>
