<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SoCalGasDesignVerificationAutomationSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.setUpTest(java.lang.String, java.lang.String)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:23</td>   <td>17325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:23</td>   <td>17325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:32</td>   <td>26503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:32</td>   <td>26504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:36</td>   <td>30959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:36</td>   <td>30959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.EnterAnAddressDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">EnterAnAddressDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:38</td>   <td>32685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>33882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>34032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>34033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>34033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>34114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:39</td>   <td>34118</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@671a5887]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@962635732</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:47</td>   <td>41733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:48</td>   <td>42877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:48</td>   <td>42877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>43773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>44010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:49</td>   <td>44011</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@1329eff]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1902964273</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:52</td>   <td>46339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>47730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>47731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.ListedAddresDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">ListedAddresDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>48215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>48217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:53</td>   <td>48217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.LocationFilterDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">LocationFilterDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationLegendDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">PaymentLocationLegendDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SocalPaymentLocations23.bf()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&gt;&gt;bf</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>48822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SocalPaymentLocations23.PaymentLocationsDesignVerification()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">PaymentLocationsDesignVerification</td> 
  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>49039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.screenShot(org.testng.ITestResult)[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;screenShot</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>20/08/21 16:42:54</td>   <td>49040</td> <td>&nbsp;</td><td title="&lt;&lt;SocalPaymentLocations23.terminateBrowser()[pri:0, instance:socaldesignautomation.SocalPaymentLocations23@2118cddf]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1893425933</td>   <td></td> </tr>
</table>
